body {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.082) ,
     rgba(255, 255, 255, 0)), url(../Images/bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
.navigation_bar {
    height: 52px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: space-around;
}

.image_logo {
    padding: 3px;
    width: 13%;
    margin-right: 300px;
}

.image_logo img {
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.637);
    font-weight: 100;
    padding: 10px;

}

.nav-links {
    display: flex;
    list-style: none;
    width: 55vh;
    justify-content: space-around;
    font-size: 16px;
}

.active a{
    color: white;
    background-color: rgba(255, 21, 21, 0.808);
    border-radius: 4px;
    padding: 10px;
}

.nav-links a:hover {
    color: white;
    background-color: rgba(255, 21, 21, 0.808);
    border-radius: 4px;
    transition: 0.05s ease-in-out;
}
/* End of Navigation Bar /////////////////////////////////////////////////////////////////////*/

/* Introduction //////////////////////////////////////////////////////////////////////////////*/
.intro {
    padding: 25px;
    margin-top: 70px;
    margin-left: 10px;
    height: 75vh;

}

.intro h1{
    color: rgba(0, 0, 0, 0.582);
    font-size: 35px;
    font-weight: 600;
}

.intro h3 {
    color:rgba(0, 0, 0, 0.438);
    font-size: 20px;
    font-weight: lighter;
}

.bi {
    font-size: 25px;
    padding: 5px;
    color: rgba(255, 37, 37, 0.733);
}

.btns {
    margin-top: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    height: 30px;
    font-size: 14px;
    border: none;
    outline-color: rgb(252, 52, 95);
}

.first {
    background-color: rgba(252, 25, 25, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.second {
    background-color: rgba(252, 25, 25, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}


/* End of Introduction ///////////////////////////////////////////////////////////////////////*/

/* Menu ///////////////////////////////////////////////////*/
.section_2 {
    background: url(../Images/bg_menu.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_2 p {
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    color: rgba(255, 255, 255, 0.808);
    border-bottom: 1px solid white;
    width: 100vh;
}

.menu {
    padding: 30px;
}

.food {
    border: 2px solid white;
    width: 200px;
    padding: 20px;
    color: white;
    line-height: 5px;
}

.food img {
    width: 200px;
    
}

.food h2 {
    font-size: 30px
}

.food h5 {
    font-size: 15px;
}

.food strike {
    font-size: 10px;
    margin-right: 3px;
}

.food button {
    width: 100px;
    height: 40px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 15px ;
    color: white;
}
/* End of Menu*/