body {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.082) ,
     rgba(255, 255, 255, 0)), url(../Images/bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.644);
}

/* Section 1 ////////////////////////////////////////////////////////////////*/
/* Navigation Bar */
.navigation_bar {
    height: 52px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: space-around;
}

.image_logo {
    padding: 3px;
    width: 13%;
    margin-right: 300px;
}

.image_logo img {
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.637);
    font-weight: 100;
    padding: 10px;

}

.nav-links {
    display: flex;
    list-style: none;
    width: 33%;
    justify-content: space-around;
    font-size: 16px;
}

.active a{
    color: white;
    background-color: rgba(255, 21, 21, 0.808);
    border-radius: 4px;
    padding: 10px;
}

.nav-links a:hover {
    color: white;
    background-color: rgba(255, 21, 21, 0.808);
    border-radius: 4px;
    transition: 0.05s ease-in-out;
}
/* End of Navigation Bar */

/* Introduction */
.intro {
    padding: 25px;
    margin-top: 70px;
    margin-left: 10px;
    height: 75%;

}

.intro h1{
    color: rgba(0, 0, 0, 0.582);
    font-size: 35px;
    font-weight: 600;
}

.intro h3 {
    color:rgba(0, 0, 0, 0.438);
    font-size: 20px;
    font-weight: lighter;
}

.intro .bi {
    font-size: 25px;
    padding: 5px;
    color: rgba(255, 37, 37, 0.733);
}

.btns {
    margin-top: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    height: 30px;
    font-size: 14px;
    border: none;
    outline-color: rgb(252, 52, 95);
}

.first {
    background-color: rgba(252, 25, 25, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

.second {
    background-color: rgba(252, 25, 25, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 3px;
}


/* End of Introduction */
/* End of Section 1 ////////////////////////////////////////////////////////////////////*/

/* Section 2 ///////////////////////////////////////////////////////////////////////////*/
/* Menu */
.section_2 {
    background: url(../Images/bg_menu.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    color: rgba(255, 255, 255, 0.808);
    border-bottom: 1px solid white;
    width: 70%;
}

.menu {
    padding: 30px;
}

.food-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.food {
    border: 2px solid white;
    border-radius: 5px;
    width: 17%;
    padding: 20px;
    color: white;
    line-height: 5px;
}

.food img {
    width: 100%;
    
}

.food h2 {
    font-size: 30px
}

.food h5 {
    font-size: 15px;
}

.food strike {
    font-size: 10px;
    margin-right: 3px;
}

.food button {
    width: 50%;
    padding: 10px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 80%;
    color: white;
    cursor: pointer;
}

.food button:hover {
    background-color: rgba(255, 255, 255, 0.589);
}

.see-more {
    margin-top: 40px;
    text-align: right;
    margin-right: 30px;
    font-size: 14px;
}

.see-more a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 4px;
}

.see-more a:hover {
    background-color: rgba(255, 255, 255, 0.589);
}
/* End of Menu*/
/* End of Section 2 /////////////////////////////////////////////////////////////////////////////////*/

/* Section 3 ////////////////////////////////////////////////////////////////////////////////////////*/
.section-3 {
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 30px;
}

.about-us {
    padding: 13px;
    margin: 0 auto;
    width: 75%;
    height: 65%;
    background-color: white;
    border: 8px solid rgb(255,192,87);
    border-radius: 20px;
    flex-wrap: wrap;
    margin-top: 85px;
}

.about-us-content {
    margin: 30px;
}

.title-2 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.61);
}

.about-title {
    border-bottom: 4px solid red;
    padding-bottom: 5px;
}

.ab-content {
    line-height: 25px;
    color: rgba(0, 0, 0, 0.623);
    font-size: 17px;
}

.about-us button {
    background: rgba(255, 21, 21, 0.808);
    color: white;
    margin-top: 25px;
    border: none;
    border-radius: 3px;
    outline: none;
    width: 100px;
    height: 30px; 
}

.about-us .bi {
    font-size: 25px;
    padding: 5px;
    color: rgba(255, 37, 37, 0.733);
}

/* End of Section 3 /////////////////////////////////////////////////////////////////////////////////*/

/* Section 4 ////////////////////////////////////////////////////////////////////////////////////////*/
.section-4 {
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
}

.section-4 header {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.767);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.473);
}

.chef{
    padding: 20px;
    width: 20%;
    margin-top: 40px;
}

.chef img{
    width: 100%;
    background-color: rgba(193, 213, 223, 0.664);
    border: 3px solid rgba(56, 56, 56, 0.774);
    border-radius: 50%;
}

.our-chefs .bi {
    font-size: 25px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.733);
}

.our-chefs {
    display: flex;
    justify-content: space-around;
}

.chef-info{
    text-align: center;
    color: rgb(255, 255, 255);
    width: 85%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    margin-right: 10px;
}

.chef-info h3 {
    border-bottom: 2px solid white;
    width: 100px;
    padding-bottom: 10px;
}

/* End of Section 4 /////////////////////////////////////////////////////////////////////////////////*/