*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.082) ,
     rgba(255, 255, 255, 0)), url(../Images/bg.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.644);
}

/* Section 1 ////////////////////////////////////////////////////////////////*/
/* Navigation Bar */
.navigation_bar {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(199, 199, 199);
    display: flex;
    justify-content: space-around;
    padding: 4px;
}

.navigation_bar h5 {
    color: rgba(0, 0, 0, 0.568);
    font-weight: lighter;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.image_logo {
    width: 11%;
    margin-top: auto;
    margin-bottom: auto;
}

.image_logo img {
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.637);
    font-weight: lighter;

}

.nav-links {
    display: flex;
    list-style: none;
    width: 34%;
    justify-content: space-around;
    font-size:  30px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-links a:hover {
    color: white;
    background-color: rgba(255, 21, 21, 0.808);
    border-radius: 4px;
    padding: 10px;
}

.burger {
    margin-top: auto;
    margin-bottom: auto;
    display: none;
    cursor: pointer;
}

.burger .line{
    background: black;
    width: 32px;
    height: 4px;
    margin: 6px;
    border-radius: 5px;
}
/* End of Navigation Bar */

/* Introduction */
.intro {
    width: 40%;
    padding: 25px;
    margin-top: 12vh;
    margin-left: 8vh;
    height: 80%;
    margin-bottom: 25vh;
}

.intro h1{
    color: rgba(0, 0, 0, 0.582);
    font-size: 60px;
    font-weight: 600;
}

.intro h3 {
    color:rgba(0, 0, 0, 0.438);
    font-size: 40px;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 35px;
}

.intro .bi {
    font-size: 3vh;
    margin-right: 17px;
    padding: 5px;
    color: rgba(255, 37, 37, 0.733);
}

.btns {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn {
    height: 50px;
    font-size: 23px;
    border: none;
    padding: 10px;
    margin-right: 10px;
    outline-color: rgb(252, 52, 95);
}

.first {
    background-color: rgba(252, 25, 25, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 6px;
}

.second {
    background-color: rgba(252, 25, 25, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 6px;
}


/* End of Introduction */
/* End of Section 1 ////////////////////////////////////////////////////////////////////*/

/* Section 2 ///////////////////////////////////////////////////////////////////////////*/
/* Menu */
.section_2 {
    background: url(../Images/bg_menu.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
}

.title {
    font-size: 50px;
    font-weight: bold;
    padding: 20px;
    color: rgba(255, 255, 255, 0.808);
    border-bottom: 1px solid white;
    width: 20%;
}

.menu {
    margin: auto;
    padding: 2px;
    width: 80%;
}

.food-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.food {
    border: 2px solid white;
    border-radius: 5px;
    width: 16%;
    height: 100%;
    padding: 30px;
    color: white;
    line-height: 5px;
    margin-top: 80px;
}

.food img {
    width: 100%;
    
}

.food h1 {
    font-size: 40px;
    margin-top: 55px;
}

.food h5 {
    font-size: 32px;
    margin-top: 55px;
    font-weight: lighter;
}

.food strike {
    font-size: 26px;
    margin-right: 8px;
    font-weight: lighter;
}

.food button {
    width: 55%;
    height: 50px;
    padding: 10px;
    background: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    margin-top: 40px;
}

.food button:hover {
    background-color: rgba(255, 255, 255, 0.589);
}

.see-more {
    margin-top: 60px;
    text-align: right;
    margin-right: 7.5vh;
    font-size: 26px;
}

.see-more a {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px;
    border-radius: 4px;
}

.see-more a:hover {
    background-color: rgba(255, 255, 255, 0.589);
}
/* End of Menu*/
/* End of Section 2 /////////////////////////////////////////////////////////////////////////////////*/

/* Section 3 ////////////////////////////////////////////////////////////////////////////////////////*/
.section-3 {
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 20px;
    padding-bottom: 80px;
}

.about-us {
    padding: 50px;
    margin: 0 auto;
    width: 65%;
    background-color: white;
    border: 10px solid rgb(255,192,87);
    border-radius: 10px;
    flex-wrap: wrap;
    margin-top: 70px;
}

.about-us-content {
    margin: 40px;
}

.title-2 {
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.61);
    margin-bottom: 40px;
}

.about-title {
    border-bottom: 4px solid red;
    padding-bottom: 13px;
}

.about-us h3 {
    color: rgba(0, 0, 0, 0.651);
    margin-bottom: 20px;
    font-size: 33px;
}

.ab-content {
    line-height: 35px;
    color: rgba(0, 0, 0, 0.507);
    font-size: 30px;
    margin-bottom: 30px;
}

.about-us button {
    background: rgba(245, 29, 29, 0.726);
    color: white;
    margin-top: 45px;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 150px;
    height: 50px;
    font-size: 25px; 
}

.about-us .bi {
    font-size: 35px;
    padding: 5px;
    margin-right: 5px;
    color: rgba(255, 40, 40, 0.61);
}

/* End of Section 3 /////////////////////////////////////////////////////////////////////////////////*/

/* Section 4 ////////////////////////////////////////////////////////////////////////////////////////*/
.section-4 {
    height: 100%;
    background: rgba(0, 0, 0, 0.596);
    padding-bottom: 80px;
}

.section-4 header {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.767);
    font-weight: bold;
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid rgba(177, 177, 177, 0.473);
}

.chef{
    padding: 20px;
    width: 15%;
    margin-top: 50px;
}

.chef img{
    width: 100%;
    background-color: rgba(193, 213, 223, 0.664);
    border: 3px solid rgba(56, 56, 56, 0.774);
    border-radius: 50%;
}

.our-chefs .bi {
    font-size: 35px;
    padding: 10px;
    color: rgba(255, 255, 255, 0.733);
}

.our-chefs {
    display: flex;
    justify-content: space-around;
}

.chef-info{
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    margin-right: 10px;
}

.chef-info h3 {
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 40px;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.chef-info p{
    line-height: normal;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 30px;
}

/* End of Section 4 /////////////////////////////////////////////////////////////////////////////////*/
/* Section 5 ////////////////////////////////////////////////////////////////////////////////////////*/
.section-5 {
    height: 100%;
    background: white;
}

.section-5 header {
    text-align: center;
    font-size: 50px;
    color: rgb(46, 46, 46);
    padding: 25px;
    width: 20%;
    margin: 0 auto;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.521);
}

.services {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 19vh;
}

.services img {
    width: 40%;
}

.s-1,
.s-2,
.s-3 {
    text-align: center;
    width: 24%;
    background: rgba(139, 228, 250, 0.637);
    padding: 80px;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 0px 0px 17px 1px gray;
}

.services h3 {
    color: rgba(14, 14, 14, 0.781);
    margin-top: 10px;
    font-size: 38px;
}

.services p {
    color: rgba(0, 0, 0, 0.637);
    margin-top: 18px;
    font-size: 33px;
}
/* End of Section 5 /////////////////////////////////////////////////////////////////////////////////*/

/* Section 6 ////////////////////////////////////////////////////////////////////////////////////////*/
.footer {
    height: auto;
    background: rgb(31, 31, 31);
    color: white;
    margin-top: 0px;
    padding: 60px;
    padding-bottom: 10px;
}

.footer-content {
    padding: 60px;
    border: 4px solid rgb(46, 46, 46);
    border-radius: 5px;
    height: 100%;
}

.footer-info {
    display: flex;
    justify-content: space-around;
}

.web-info {
    width: 20%;
}

.web-info h3 {
    font-size: 43px;
    font-weight: 800;
}

.web-info p {
    color: rgba(255, 255, 255, 0.685);
    font-weight: lighter;
    font-size: 29px;
    margin-top: 10px;
}

.contact-info {
    line-height: 25px;
}

.contact-info h3 {
    margin-top: 30px;
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.contact-info h5 {
    line-height: 35px;
    font-weight: lighter;
    font-size: 29px;
}

.company h3 {
    margin-top: 19px;
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 15px;
}

.company li {
    list-style: none;
    line-height: 35px;
}

.company a {
    text-decoration: none;
    color: white;
    font-size: 29px;
    font-weight: lighter;
}

.company a:hover {
    text-decoration: underline;
}

.social-icon-footer {
    margin-top: 70px;
}

.social-icon-footer h4 {
    font-weight: lighter;
    font-size: 32px;
    margin-bottom: 20px;
}

.social-icon-footer i {
    font-size: 37px;
    margin-right: 10px;
}

.social-icon-footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.603);
}

.navlinks-footer {
    display: flex;
    justify-content: space-around;
    float: right;
    margin-top: -25px;
    width: 20%;
}

.navlinks-footer li {
    list-style: none;
}

.navlinks-footer a{
    text-decoration: none;
    color: white;
    font-size: 29px;
    font-weight:lighter;
}

.navlinks-footer a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.555);
    font-weight: lighter;
}

/* End of Section 6 /////////////////////////////////////////////////////////////////////////////////*/