@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Signika+Negative:wght@300&display=swap');

:root {
  --primary: linear-gradient(to top, rgb(208, 140, 24), rgb(254, 185, 65)) ;
  --secondary-font: 'Signika Negative', sans-serif ;
  --primary-font:'Roboto', sans-serif; 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*{
  font-family: var(--primary-font);
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-base-color: black;
  scrollbar-track-color: blue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 16, 16, 0.894);
  border-radius: 5px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white;
  font-weight: 300;
}

li {
  list-style: none;
  color: white
}


.logo {
  max-width:10%;
  text-align: center;
}


.logo img{
  width: 100%;
  padding: 4px;
}

.sectionOne {
  background: url(https://i.ibb.co/qDmGTCy/bg-img-min.jpg) no-repeat ;
  background-size: cover;
  height: 100vh;
}

.navBar {
  z-index: 3;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(192, 192, 192, 0.38)
}

.active {
  padding: 10px;
  background: rgb(41, 41, 41);
  font-weight: 400;
  color: white;
  border-radius: 5rem;
}

.navLinks {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.navLinks a{
  width: 5em;
  padding: 5px;
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
}

.navLinks a:hover {
  font-weight: 600;
  margin-bottom: 5px;
  transition: 0.1s linear;
}

.user-icons {
  padding: 0 0.5em 0 0.5em;
  width: 8%;
  display: flex;
  justify-content: space-around;
}

.user-icons  a {
  color: rgb(255, 255, 255);
}

.icon:hover {
  background: rgb(55, 55, 55);
  transition: 0.3s;
}

.fa-user {
  background: rgb(41, 41, 41);
  padding: 7px 8px 7px 8px;
  border-radius: 100%;
}

.fa-cart-shopping {
  background: rgb(41, 41, 41);
  padding: 7px 6px 7px 6px;
  border-radius: 100%;
}

/* Section One ///////////////////////////////////////////////////////////////////////////////////////////// */

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.introContent {
  height: 100%;
  display: flex;
  align-items: center;
}

.pizzaSlice {
  position: absolute;
  top: 30vh;
  right: 3.1vh;
  z-index: 1;
}


.pizzaSliceTwo {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100dvh;
}

.pizzaSlice img{
  width: 52.2vh;
  transform: rotateZ(211.8deg);
}

.pizzaSliceTwo img {
  height: 100%;
}

.introSearch {
  padding-left: 30px;
  align-items: left;
  display: flex;
  flex-direction: column;
}

.introText {
  padding-bottom: 10px;
  user-select: none;
}

.introOne {
  padding-left: 10px;
  font-size: 2rem;
  color: rgb(83, 83, 83);
  font-family: var(--secondary-font);
  font-weight: 500;
}

.introTwo {
  font-size: 6rem;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: rgb(53, 53, 53);
}

.introThree {
  font-size: 17px;
  font-weight: 500;
  margin-left: 10px;
  color: rgb(107, 107, 107);
}


.socialIcons {
  top: 14rem;
  padding: 0.5em;
}

.fa-facebook,
.fa-instagram,
.fa-twitter,
.fa-youtube {
  color: white;
  background: rgb(41, 41, 41);
  cursor: pointer;
  font-size: 1.2rem;
  margin: 5px 0 5px 20px;
  width: 1.3rem;
  height: 1.3rem;
  padding: 5px;
  border-radius: 5rem;
}

.fa-facebook:hover, 
.fa-twitter:hover, 
.fa-instagram:hover,
.fa-youtube:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

.searchBar{
  display: flex;
  width: 100%;
  background: white;
  border-radius: 10px;
  align-items: center;
}

.searchInput {
  width: 100%;
  height: 40px;
  outline: none;
  font-size: 14px;
  border: none;
  color: rgba(0, 0, 0, 0.793);
  border-radius: 0 7rem 7rem 0;
}

.searchInput::placeholder{
  font-size: 17px;
}

.searchBtn {
  cursor: pointer;
  font-size: 1.2rem;
  width: 8%;  
  color: rgba(217, 12, 12, 0.507);
}

.searchBtn:hover {
  transition: 0.3s;
  color: rgba(171, 106, 106, 0.792);
}

.searchDropdown {
  margin: 5px;
  border-radius: 5px;
  width: 49%;
  background: white;
  max-height: 35vh;
  overflow-y: scroll;
  position: absolute;
  left: calc(50% - 50%/2);
}

.searchDropdown div {
  cursor: pointer;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.752);
  padding: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.208);
}

.searchDropdown div:hover {
  background: rgba(128, 128, 128, 0.325);
}

.introBtn button{
  cursor: pointer;
  outline: none;
  border: none;
  height: 2.5rem;
  width: 7rem;
  border-radius: 3rem;
  padding: 10px;
  font-size: 13px;
  margin: 18px 0px 0px 7px;
  background: rgb(41, 41, 41);
  color: rgb(255, 255, 255);
}

.introBtn button:nth-child(2) {
  background: transparent;
  border: 2px solid white;
}

.introBtn button:nth-child(1):hover {
  transition: 0.3s;
  background: rgb(223, 26, 0)
}

.introBtn button:nth-child(2):hover {
  transition: 0.5s;
  background: rgba(226, 41, 41, 0.404);
}

#openCloseBody{
  z-index: 4;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.572);  
}

.openClose {
  width: 30%;
  position: absolute;
  background: linear-gradient(to top, rgb(121, 1, 1), red);
  color: white;
  padding: 10px;
  border-radius: 10px;
  top: calc(50% - 66%/2);
  left: calc(50% - 30%/2);
}

.openClose table {
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.265);
  border-radius: 10px;
  width: 100%;
}

td{
  padding: 2px 0 2px 0;
}

td:nth-child(2){
  text-align: right;
}

.contactInfo {
  margin: 10px 0 10px 0;
  font-size: 13px;
  font-weight: 300;
}

.openTitle {
  color: black;
  margin: 20px 0 20px 0;
  padding: 14px;
  background: white;
  border-radius: 10px;
}

.contactInfo .fa-phone {
  font-size: 12px;
  margin-right: 5px;
}

.closeBtn {
  position: absolute;
  float: right;
  left: 91%;
  top: 5%;
  cursor: pointer;
  font-size: 18px;
}

.banner:hover {
  transform: scale(1.05);
  transition: 0.3s;

}

.openCloseBanner {
  position: absolute;
  left: -4rem;
  bottom: 1.5rem;
  width: 18%;
}

.banner {
  box-shadow: 2px 2px 8px 2px  rgba(0, 0, 0, 0.32);
  border-radius: 3rem;
  width: 100%;
  background-color: white;
  text-align: right;
  padding: 8px 40px 8px 0;
  font-size: 15px;
  color: rgb(59, 59, 59);
  cursor: pointer;
}

.CloseBanner {
  color: rgb(255, 255, 255);
  background: rgb(41,41,41);
}

/* End Of Section One ///////////////////////////////////////////////////////////////////////////////////////////// */

/* Section Two ///////////////////////////////////////////////////////////////////////////////////////////// */
.menuTitle {
  border-bottom: 1px solid grey;
  padding: 30px 0 10px 0;
  margin: 0 0 30px 0px;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(41, 41, 41);
}

.sectionTwo {
  background: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  width: 100%;
}

.menuSection {
  margin: 0 auto;
  width: 85%;

}

.menuSearchOption {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}



.mealCard img {
  border-radius: 10px 10px 0 0;
}

.mealCard {
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 5px;
  margin: 20px 18px 0 18px;
  width: 12rem;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border-radius: 15px;
}

.mealName {
  font-size: 1.1em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.777);
  margin-top: 8px;
}

.mealPrice {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.801);
}

.addCartBtn {
  cursor: pointer;
  width: 6rem;
  height: 2rem;
  outline: none;
  border: none;
  background: rgba(255, 0, 0, 0.849);
  color: rgb(255, 255, 255);
  border-radius: 6px;
}

.seeMore {
  display: flex;
  justify-content: right;
  padding: 20px;
  margin-right: 5rem;
}

.seeMoreText{
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  width: 6rem;
  background: rgba(255, 32, 32, 0.992);
  color: white;
  border-radius: 0.3em;
}

.sectionThree {
  height: 100vh;
}

.chefSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

.chefs {
  width: 80%;

}

.chefSectionTitle {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 30px 0 10px 0;
  margin: 0 0 30px 0px;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(41, 41, 41);
}

.chefOne {
  border-radius: 20px;
  display: flex;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.chefOne img{
  width: 30%;
}
/* End of Section Two ///////////////////////////////////////////////////////////////////////////////////////////// */

/* Keyframes  ///////////////////////////////////////////////////////////////////////////////////////////// */
  @keyframes bannerEase {
    0%{opacity: 0}
    100%{opacity: 1}
  }
/* End Of Keyframes //////////////////////////////////////////////////////////////////////////////////////// */